@import "tailwindcss";

#root {
  @apply flex flex-col min-h-screen;
}

header {
  @apply flex px-4 md:px-6 py-6 bg-slate-700 text-white items-center;
}

body {
  @apply antialiased;
  background-color: rgb(167, 167, 167);
}

main {
  @apply flex flex-col flex-1 justify-center place-items-center;
}

footer {
  @apply px-4 md:px-6 py-3 bg-slate-600 text-white;
}

.todo-btn {
  @apply p-1 bg-gray-100 rounded-sm hover:bg-gray-200;
}
